body {
    background-color: #ccc;
}
/** Set the backgrounds for the different sections **/
.header-area {
    background-color: #2d465c;
    min-height: 160px;
}
.navigation-area {
    background-image: url('../img/navigation-container.jpg');
    background-repeat: repeat-x;
}
.content-area {
    padding: 50px 0 70px 0;
}
.footer-area {
    background-color: #1f1f1f;
    color: #fff;
    min-height: 50px;
    padding: 20px 0 0 0;
}
.full-width {
    min-width:100%;
    position: relative;
}
h2 {
    color: #fff;
    font-weight: normal;
    margin-top: 50px;
}