body {
  font-family: 'Rambla', sans-serif;
}

.container {
  margin: 0 auto;
  width: 600px;
}

header {
  background: #ccc;
  padding: 5px;
  box-shadow: 2px 2px 2px #666;
  margin-bottom: 20px;
}

header ul {
  position: absolute;
  top: 10px;
  right: 40px;
}

header ul li {
  display: inline;
  padding: 2px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #1e6d74;
  padding: 10px;
}

a:hover {
  color: #ff7800;
}

li {
  list-style: none;
}

input {
  width: 200px;
  display: block;
  margin: 10px;
}