body{
	background-color: black;
}

#indexTitle{
	text-align: center;
	color: #FF4500;
}

#createMenu{
	text-align: center;
}

#createMenu input{
 	text-align: center;
}

.fading{
	text-align: center;
	color: white;
	font-size: 45px;
}

#menus a{
	color: #FF00FF;
	text-decoration: none;
}

#menus{
	color: purple;
	text-align: center;
}

#menuDesc{
	color: #32CD32;
	text-align: center;
	font-size: 25px;
	text-shadow: 5px 5px 5px #1E90FF;
}

#home{
	color: #DC143C;
	font-size: 25px;
	text-decoration: none;
}

#createItem{
	text-align: center;
}

#createItem input{
 	text-align: center;
}

#items a{
	color: #FF00FF;
	text-decoration: none;
}

#items{
	color: purple;
	text-align: center;
}

#whatMenus{
	color: purple;
	text-align: center;
}

#itemDesc{
	color: #32CD32;
	text-align: center;
	font-size: 25px;
	text-shadow: 5px 5px 5px #1E90FF;
}
/*WHEN USING JS TO ADD TO LIST, ALSO ADD THE ANCHOR TAG*/