body {
  font-family: 'Rambla', sans-serif;
}

.container {
  margin: 0 auto;
  width: 600px;
}

header {
  background: #ccc;
  padding: 5px;
  box-shadow: 2px 2px 2px #666;
  margin-bottom: 20px;
}

header h1 a {
  color: white;
  text-shadow: -1px -1px 2px #374683;
  font-size: 50px;
}

header ul {
  position: absolute;
  top: 25px;
  right: 40px;
}

header ul li {
  display: inline;
  padding: 2px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #1e6d74;
  padding: 10px;
}

a:hover {
  color: #ff7800;
}

li {
  list-style: none;
}

input {
  width: 200px;
  display: block;
  margin: 10px;
}

.error {
  color: red;
}

.item_name, .item_price {
  display: inline-block;
  width: 50px;
}

.item_price {
  margin-left: 20px;
}

#items_in_menu {
  padding: 5px 0;
}