<header>
  <h1><a href="/">Welcome to Awesome Menus</a></h1>
  <ul>
    <li><a href="/items">Add Items</a></li>
    <li><a href="/">Add Menus</a></li>
  </ul>
</header>
<div class="container">

  <form id="add_menu" action="/menus/create/new" method="post">
    <input type="text" placeholder="menu name" name="menu[name]">
    <input type="submit" value="Add Menu">
    <span class="error"></span>
  </form>

  <h2>Your Menus:</h2>
  <% if @menus %>
    <div id="menus">
      <%= erb :_menu_items %>
    </div>
  <% else %>
    <p>Your kitchen is gathering dust. Add something above.</p>
  <% end %>
  <div class="test">
  </div>
</div>
