<div class="container">
  <header>
    <h1>Welcome to Awesome Menus</h1>
    <ul>
      <li><a href="#">Add Items</a></li>
      <li><a href="#">Add Menus</a></li>
    </ul>
  </header>

  <form id="add_menu" action="/create/new" method="post">
    <input type="text" placeholder="menu name" name="menu[name]">
    <input type="submit" value="Add Menu">
  </form>

  <h2>Your Menus:</h2>
  <% if @menus %>
    <ul>
      <% @menus.each do |menu| %>
        <li><a href="/menu/<%= menu.id %>"><%= menu.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>Your kitchen is gather dust. Add something above.</p>
  <% end %>
</div>
