<header>
  <h1><a href="/">Welcome to Awesome Menus</a></h1>
  <ul>
    <li><a href="/items">Add Items</a></li>
    <li><a href="/">Add Menus</a></li>
  </ul>
</header>
<div class="container">

  <form id="add_item" action="/item/create/new" method="post">
    <input type="text" placeholder="item name" name="item[name]">
    <input type="text" placeholder="price" name="item[price]">

    <input type="submit" value="Add Item">
    <span class="error"></span>
    <% if @errors_exist %>
      <% @all_errors.each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
  </form>

  <h2>Your Items:</h2>

  <div id="items">
    <%= erb :_items_list %>
  </div>
</div>