<div class="container">
  <h1>Welcome to Awesome Menus</h1>
  <a href="">Add Items</a>
  <a href="">Add Menus</a>
  <br>

  <form method="POST" action="/item/create">
    <input type="text" name="item[name]" id="item_name" placeholder=
    "Eggs">
    $<input type="text" name="item[price]" id="item_price" placeholder="2.99">
    <input type="submit" id="create_item">
  </form>

  <div>Your Items:

      
      <table border="1">
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <% Item.all.each do |item| %>
          <td><%= item.name %></td>
          <td>$<%= item.price %></td>
        </tr>
          <% end %>
      </table>    

  </div>

</div>
